.movie {
    background-color: rgb(21, 22, 63);
    
    .m-back {
        position: absolute;
        top: 15vh;
        left: 5%;
        z-index: 1;
        color: #fff;
        background-color: transparent;
        border: none;
        font-size: 4rem;
    }

    .movie-background {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .movie-details {
        width: 50%;
        position: absolute;
        top: 70vh;
        left: 5%;

        @media (max-width: 500px) {
            top: 30vh;
            width: 95%;
        }
    
        h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;

            @media (max-width: 500px) {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }
        }

        .info-box {
            display: flex;

            p {
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 10px;
                // margin-right: 15px;

                @media (max-width: 500px) {
                    font-size: 1.5rem;
                    // margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
    
            .rating {
                color: rgb(255, 206, 72);

                @media (max-width: 500px) {
                    margin-right: 10px;
                }
            }
    
            .genres {
                display: flex;
                
                p {
                    margin-right: 10px;

                    @media (max-width: 500px) {
                        margin-right: 5px;
                    }
                }
            }

            .runtime {
                margin-left: 5px;
            }
        }
        
        .view-summary {
            cursor: pointer;
            font-size: 2rem;
            height: 50%;
            background: transparent;
            margin: auto 0;
            outline: none;
            border: none; 
            padding: 0;

            @media(max-width: 500px) {
                display: none;
            }

            p {
                color: #fff; 
            }
        }

        .rate-movie {
            color: #fff;
            margin-right: 30px;
            cursor: pointer;
            font-size: 2rem;
            background: transparent;
            outline: none;
            border: none; 
            padding: 0;

            @media (max-width: 500px) {
                font-size: 1.8rem;
            }
        }

        #rate-movie-box {
            display: none;
            margin-left: 20px;

            input {
                padding: 3px;
                color: #fff;
                appearance: none;
                font-size: 1.5rem;
                border: 1px solid #fff;
                background-color: #000;
                outline: none;
                margin-right: 5px;
            }

            button {
                transition: .3s;
                cursor: pointer;
                outline: none;
                background-color: transparent;
                color: #fff;
                border: none;
                font-size: 1.8rem;

                &:hover {
                    transition: .3s;
                    color: rgb(48, 62, 255);
                }
            }
        }

        #message {
            display: none;
            color: rgb(255, 0, 0);
            font-size: 1.8rem;
            font-weight: 300;
            margin-top: 10px;

            @media (max-width: 500px) {
                font-size: 1.4rem;
            }
        }

        .small-screen-summary {
            font-size: 1.8rem;
            position: absolute;
            top: 28vh;
        }
    }
    .summary-container {
        transition: .5s;
        position: absolute;
        top: -700px;
        right: 20px;
        width: 500px;
        margin: 0 auto;
        display: flex;

        @media (max-width: 500px) {
            top: 62vh;
            right: 0;
            left: 5%;
            width: 95%;
            text-align: left;
        }
        
            p {
                font-size: 2rem;
                line-height: 1.3;
                font-weight: 300;

                @media (max-width: 500px) {
                    font-size: 1.5rem;
                }  
            }
    }

    .summary-container.view {
        transition: .5s;
        top: 70vh;
    }

    #cast-title {
        font-size: 4rem;
        text-align: center;
        margin-top: 80px;

        @media (max-width: 500px) {
            font-size: 3rem;
            margin-top: 40px;
        }
    }

    #no-cast {
        margin-top: 30px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;

        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }

    .reviews {
        color: #fff;
        font-size: 1.6rem;
        width: 50%;
        margin: 40px auto 80px auto;

        @media (max-width: 500px) {
            width: 90%;
            margin: 30px auto 60px auto;
        }

        #reviews-title {
            font-size: 4rem;
            text-align: center;
            margin-top: 80px;

            @media (max-width: 500px) {
                font-size: 3rem;
                margin-top: 40px;
            }
        }

        .review {
            border-left: 1px solid #303eff;
            background-color: #202161;
            margin: 40px 0;
            padding: 15px;

            h3 {
                font-size: 2rem;
                margin-bottom: 10px;
                
                @media (max-width: 500px) {
                    font-size: 1.5rem;
                }
            }

            p {
                color: rgb(228, 228, 228);
                font-weight: 300;
                margin-bottom: 15px;
                line-height: 1.2;

                @media (max-width: 500px) {
                    font-size: 1.4rem;
                }
            }

            a {
                color: #fff;
                text-decoration: none;

                @media (max-width: 500px) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

