div {
    position: relative;

    .movies-row {
        display: flex;
        width: 80%;
        height: auto;
        overflow-x: hidden;
        margin: 30px auto;
        border-bottom: 1px solid rgb(48, 62, 255);

        @media (max-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
        }
    
            .upcoming-movies, .now-playing-movies, .popular-movies {
                text-decoration: none;
                cursor: pointer;
                transition: .5s;
                width: 12.3%;
                height: 100%;
                flex-shrink: 0;
                margin: 2% 1%;
                border-radius: 10px;

                @media (max-width: 500px) {
                    width: 31%;
                }
                

                    img {
                        color: #fff;
                        transition: .3s;
                        width: 100%;
                        opacity: .8;
                        border-radius: 10px;
    
                            &:hover {
                                transition: .3s;
                                opacity: 1;
                                box-shadow: 0 0 5px;
                            }
                    }

                    h2 {
                        color: #fff;
                        font-size: 1.8rem;
                        font-weight: 300;
                        text-align: center;
                        margin-top: 5px;

                        @media (max-width: 500px) {
                            display: none;
                        }
                    }
            }
    }
        
    .back, .next {
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        padding: 13px 15px;
        border-radius: 50%;
        outline: none;
    }

    .back {
        z-index: 2;
        position: absolute;
        left: 5%;
        top: 25%;
    }

    .next {
        z-index: 2;
        position: absolute; 
        right: 5%;
        top: 25%;
    }

    .back.c, .next.c {
        border: none;
        font-size: 4rem;

        @media (max-width: 500px) {
            display: none;
        }
    }

}

