.nav {
    display: flex;
    font-size: 2.5rem;
    padding: 10px 20px;
    align-content: center;
    background-color: rgb(16, 21, 34);

        .logo {
            width: 40%;
            display: flex;

                h1 {
                    text-align: center;
                    margin-right: 10px;
                }
        }

        div {
            width: 60%;
            text-align: right;

                a {
                    transition: .3s;
                    font-size: 2rem;
                    text-decoration: none;
                    color: #fff;
                    margin: 0 15px;
                    font-weight: 300;

                        &:hover {
                            transition: .3s;
                            color: rgb(48, 62, 255);
                        }
                }
        }
}