.nav {
    display: flex;
    font-size: 2.5rem;
    padding: 10px 20px;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(16, 21, 34);

        .logo {
            margin-right: auto;
            margin-left: 0;
            display: flex;

                h1 {
                    text-align: center;
                    margin-right: 10px;
                }
        }

        input {
            margin-left: 60px;
            outline: none;
            padding-left: 5px;
            border: none;
            font-size: 2rem;
            font-weight: 300;
            border-radius: 5px;
        }

        button {
            background-color: rgb(48, 62, 255);
            border: none;
            outline: none;
            margin-left: -10px;
            cursor: pointer;
            border-radius: 10px;

            ion-icon {
                color: #fff;
                font-size: 2.2rem;
            }
        }

        .nav-links {
            margin-left: auto;
            text-align: right;

                a {
                    transition: .3s;
                    font-size: 2rem;
                    text-decoration: none;
                    color: #fff;
                    margin: 0 15px;
                    font-weight: 300;

                        &:hover {
                            transition: .3s;
                            color: rgb(48, 62, 255);
                        }
                }
        }
}