.footer {
    background-color: #222;
    display: flex;
    padding: 60px 10%;
    margin-top: 40px;

    .footer-info {

            .footer-nav {
                display: flex;
                flex-direction: column;
                align-content: center;

                    h1 {
                        font-size: 2.5rem;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    .footer-links {
                        text-align: center;

                            a {
                                transition: .3s;
                                font-size: 1.8rem;
                                font-weight: 300;
                                text-decoration: none;
                                color: #fff;
                                margin: 0 5px;

                                    &:hover {
                                        transition: .3s;
                                        color: rgb(48, 62, 255);
                                    }
                            }
                    }
            }

            .copyright {
                font-weight: 300;
                display: flex;
                flex-direction: column;
                    h2 {
                        text-align: left;
                        font-size: 1.8rem;
                        margin-bottom: 5px;
                    }

                    a {
                        transition: .3s;
                        font-size: 1.8rem;
                        color: #fff;
                        text-decoration: none;
                        margin-bottom: 25px;

                        &:hover {
                            transition: .3s;
                            color: rgb(48, 62, 255);
                        }
                    }
            }
    }

    .moviedb-logo {
        margin: auto 0 auto auto;
            img {
                width: 150px;
            }
    }
}